/*  */

@media (min-width: 320px) {
  .weather-now-moon { display: block; }
}

@media (min-width: 568px) and (max-width: 799px) and (orientation: landscape) {
  .forecast-daily {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .forecast-daily .forecast-flex-item {
    width: 50%;
    box-sizing: border-box;
  }

  .forecast-daily .forecast-flex-item:first-child {
    padding-right: 1%;
  }

  .forecast-daily .forecast-flex-item:last-child {
    padding-left: 1%;
  }

  .forecast-daily .weather-title {
    white-space: normal;
  }

  .forecast-daily .weather-now {
    border: none;
    padding-top: 2.8em;
    padding-bottom: 0;
  }

  .forecast-daily .weather-today { padding-top: .5em; }

  .forecast-daily .weather-misc { padding-bottom: 0; }

}

@media (max-width: 667px) and (orientation: landscape) {
  .forecast-daily .weather-now-moon { display: none; }
  .forecast-daily .weather-now { padding-top: 0; }
}

@media (min-width: 768px) {
  .forecast-daily { width: 0; }
}

@media (min-width: 800px) and (orientation: landscape), (min-width: 1024px) {
  .forecast-daily .weather-today,
  .forecast-daily .weather-misc { padding: 1.2em 0; }
}

@media (min-width: 1280px) {
  .forecast-daily .weather-today,
  .forecast-daily .weather-misc { padding: 1em 0; }
}
